html{
	font-size: 62.5%;
}

body{
	font-family: $sans;
	font-family: $serif;
}

p{
	font-family: $serif;
	font-size: 1.5rem;
	line-height: 1.46;
	color: $bodyText;
	
}

h4, h5.projYear{
	font-family: $sans;
	font-size: 1.4rem;
	font-size: 700;
	margin: 1rem 0 1.5rem;
	text-transform: uppercase;
}

h3{
	font-family: $serif;
	font-size: 2.4rem;
	
}

h5.projYear{
	font-family: $sans;
	color: grey;
	font-weight: 400;
	position: absolute;
	bottom: -1rem;
	right: 1rem;
}

a {
	font-size: 1.2rem;
	color: #BA209B;
	text-decoration: none;
	&:hover {
		color: #D424B1;
	}
}

/* paragraphs */



/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}