/* 

HGD COLORS
========================================================================== */

$bgGrey : #e3e9e6;
$royalB : #1b5bea;
$bodyText: #333;

/* 

HGD FONTS
========================================================================== */

$serif : 'PT Serif', serif;
$sans : 'PT Sans', sans-serif;

